.welcome-message {
    font-size: 2.4em;
    background-color: hsl(120, 100%, 42%);
    color:white;
    padding: 10px;
    border-radius: 20px;
    margin:0px;
}

.login-prompt {
    font-size: 2.4em;
    background-color: hsl(20, 100%, 43%);
    color:white;
    padding: 10px;
    border-radius: 20px;
    margin:0px;
}