.welcome-message {
    font-size: 2.4em;
    background-color: hsl(120, 100%, 42%);
    color:white;
    padding: 10px;
    border-radius: 20px;
    margin:0px;
}

.login-prompt {
    font-size: 2.4em;
    background-color: hsl(20, 100%, 43%);
    color:white;
    padding: 10px;
    border-radius: 20px;
    margin:0px;
}

.list-category {
    text-align: center;
    font-size: 2.5em bold;
    color: hsl(0, 0%, 30%);
    border: 2px bold;
    border-radius: 5px;
    background-color: antiquewhite;
}

.list-items li {
    text-align: center;
    list-style: none;
    color: black;

}

.list-items li:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
}